<% if (!user) { %>
	<p>Bienvenue dans la démo Cerbère Node.js ! <a href="/login">Connexion</a>.</p>
<% } else { %>
	<p>Bonjour <%= user.name.displayName %>. Consultez votre <a href="/profile">profil</a>.</p>
	<p><a href="/logout">Déconnexion</a></p>
<% } %>